{% extends 'base.html' %}

{% block title %}Index{% endblock %}
{% block content %}

<div class="container text-center pt-3">
    <h1>Create Brand</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="reset" class="btn btn-secondary">Clear</button>
    </form>
</div>


<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Brand</th>
            </tr>
        </thead>
        <tbody>
            {% for brand in brands %}
                <tr>
                    <th scope="row">{{brand.id}}</th>
                    <td>{{brand.brand}}</td>
                    <td>
                        <a href="{% url 'update_brand_front' brand.id %}"><i class="fa-solid fa-pen"></i></a>
                        <a href="{% url 'delete_brand_front' brand.id %}"><i class="fa-solid fa-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
</div>

{% endblock %}