{% extends 'base.html' %}

{% block title %}Index{% endblock %}
{% block content %}
<div class="container text-center pt-3"><h1>Buyouts</h1></div>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Product</th>
                <th scope="col">Bought by the user</th>
                <th scope="col">Price of the buyout</th>
                <th scope="col">Date of transaction</th>
            </tr>
        </thead>
        <tbody>
            {% for buyout in buyouts %}
                <tr>
                    <th scope="row">{{buyout.product}}</th>
                    <td>{{buyout.user}}</td>
                    <td>{{buyout.buyout_price}}</td>
                    <td>{{buyout.updated_at}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
</div>


{% endblock %}
