{% extends 'base.html' %}

{% block title %}Index{% endblock %}
{% block content %}

<div class="container">
    <div class="p">
        Hola! el flujo principal de esta aplicación web es primero crear una "Brand" despues un "Product" para que así los usuarios publicos puedan consultarlos <br>
        Me tomé la libertad de inventar un flujo muy basico y sencillo de compras, en las que los usuarios publicos entran a ver la lista de productos, presionan realizar una compra
        y toman el producto que desean comprar, creando así un "Buyout" cuando se realiza una compra se le notifica a los administradores y se les manda un correo con la información de la compra.
        
        <br><br>
        Además diseñé este front como ejemplo de fullstack en donde integro la api hecha con django rest framework y el frontend hecho con django.
        <br><br>
        Como administrador puedes ver, crear, editar y eliminar Brands, Products y Users. Los Buyouts solo pueden ser vistos, porque en teoría nadie debería hacer cambios a una compra porque podría comprometer la consistencia de la información.
        <br><br>
        Como usuario publico puedes ver los productos y realizar una compra.
        <br><br>

        Limitantes en el sistema: <br>
        -El CRUD de users solo permite crear usuarios publicos, por falta de tiempo no logré terminar el flujo de permisos para administradores y usuarios,
        por lo tanto el usuario con las credenciales "admin, 12345" es el unico administrador, todos los usuarios creados con el CRUD de users son considerados usuarios publicos.
        <br><br>
        Mejoras que podrían integrarse en un futuro: <br>
        -Diseñar un flujo que guarde los precios de los productos de acuerdo a la fecha de la compra, actualmente se genera mucha información redundante ya que guardo
        el precio del producto que tenía en el momento que se realizó la compra por cada compra registrada, se me ocurrió que podría tener una tabla con los precios y
        su fecha de modificación, así podría quitar el campo de buyout_price de la compra y deducirla en base a la fecha en la que se generó la compra. <br><br>
        -Tener un control de unidades que se haga en automatico con signals de Django, podría realizarse despues de que se mandan los correos, así se hace una vez por compra.
        <br><br>
        -En el CRUD de usuarios, poder manejar los permisos de los usuarios, permitiendo volver a un usuario administrador o usuario publico en cualquier momento.
        al igual que crear mas grupos con menos o mas permisos que los admins.
        <br><br>
        -Tener tablas de historicals y campos de auditoria, para tener registro de todas las compras y toda su información durante la linea del tiempo, de esta forma no
        perderiamos nunca la información modificada, por ejemplo si manejaramos historical en las compras, los administradores sí podrían modificarlas, porque sin importar que cambien
        aun podremos saber las unidades o el precio de una compra cuando recien fue registrada, con esto podriamos supervisar el trabajo de los administradores.

        <br><br>
        Links de documentación de la API:
        http://127.0.0.1:8000/api/create_buyout/ <br>
        http://127.0.0.1:8000/api/update_buyout/id <br>
        http://127.0.0.1:8000/api/get_buyouts/ <br>
        http://127.0.0.1:8000/api/delete_buyout/id <br>
        http://127.0.0.1:8000/api/create_brand/ <br>
        http://127.0.0.1:8000/api/update_brand/id <br>
        http://127.0.0.1:8000/api/get_brands/ <br>
        http://127.0.0.1:8000/api/delete_brand/id <br>
        http://127.0.0.1:8000/api/create_product/ <br>
        http://127.0.0.1:8000/api/'update_product/id/ <br>
        http://127.0.0.1:8000/api/get_products/ <br>
        http://127.0.0.1:8000/api/delete_product/id <br>
        http://127.0.0.1:8000/api/create_user/ <br>
        http://127.0.0.1:8000/api/update_user/id <br>
        http://127.0.0.1:8000/api/get_users/ <br>
        http://127.0.0.1:8000/api/delete_user/id <br>
    </div>
</div>

{% endblock %}